.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #443364;
  min-height: 100vh; 
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Main-page {
  padding-top: 20px;
}

.Title {
  background-color: #9c0000;
  border-radius: 25px; 
  padding: 10px 100px;
}

.Active-page {
  background-color: #4cbe8f;
  text-align: center;
}

.Active-page-table {
  margin: auto;
}
.Active-page-header {
  width: 100%;
  background-color: #9e48cf;
}

.App-link {
  color: #61dafb;
}


.App-logo-box-left {
  position: fixed;
  justify-self: left;
  padding-top: 20px;
  padding-left: 20px;
  align-self: left;
}

.App-logo-box-middle {
  position: flex;
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
